.mainClass{
    align-items: center;
    margin-left: 40%;
}

.number{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    font-size: 110%;
}

.number:hover {
    background-color:rgb(137, 191, 209);
}

.number:disabled {
    color: #ccc;
}

button[disabled]:hover {
    background: inherit;
}

.activeNumber{
    border:none;display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:lightblue;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    font-size: 110%;
}
