.nav {
  z-index: 1;
  list-style: none;
  background-color: #0b3d70;
  background-image: linear-gradient(#2f6194 40%, #0b3d70);
}

.navMain {
  width: 100%;
  display: inline-block;
  padding-left: 10%;
}

.navItemWrapper {
  display: inline-block;
}

.navItemWrapper:hover {
  background-color: #337ab7;
  transition: background-color 0.2s, color 0.2s;
}

.navItemWrapperActive {
  background-color: #337ab7;
  display: inline-block;
}

.navItem {
  padding: 10px 10px 10px 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}


.navDropDownLink {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 90%;
  border-bottom: 4.5px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

.navDropDownLink:hover {
  color: white;
}


.navItemActive {
  border-bottom: 4.5px solid #83abaf;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 8px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
