.desc {
  margin: 0% 1%;
  padding: 1% 3% 1% 3%;
  text-align: left;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}

.courseDesc {
  text-align: left;
  margin-top: 1%;
  margin-bottom: 2%;
}
