.headerTitle {
    position: absolute;
    left: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #506A8E;
    font-weight: 300;
    text-transform: uppercase;
    /* display: inline; */
}

.title {
    /* color: #506A8E;
    font-size: 90%;
    font-weight: 500px;
    font-family: Sans-serif	, Verdana, sans-serif;
    display: flex;*/
    padding-top: 10%; 
    height: 25px;
    /* width: 248px; */
    color: #506A8E;
    font-family: "Open Sans Extrabold";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    display: flex;
    margin-left: 10px;
}

.title1 {
    padding-top: 7%; 
    height: 25px;
    width: 265px;
    color: #90BEDC;
    font-family: "Open Sans Extrabold";
    font-size: 15px;
    line-height: 20px;
    display: flex;
    margin-left: 10px;
}

.logo{
    padding: 5px;
    /* display: inline; */
    height: 8%;
    width: 8%; 
    height: 90px;   
    width: 90px;
}

.mainDiv{
    background-color: white;
}

.div{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    background-image: url("../../resources/internal/dodBanner.png");
    /* width: 850px; */
}

.div1 {
    /* overflow:auto; */
    display: inline-block;
}
.div2{
    margin-left: 55%;
}

.signIn {
     /* padding: 8px 0; */
     float: right;
     font-size: 80%;
     border-bottom: 4.5px solid transparent;
     transition: border-bottom 0.2s, color 0.2s;
     margin-top: 20px;
     color: #005EA2;
}

.search {
    /* margin-left: 250px; */
    vertical-align: text-top;
    padding-top: 10px;
    /* float: right; */
}

.text{
    height: 29px;
    width: 197px;
    display: inline;
}

.searchImage{
    height: 39px;
    padding-bottom: 10px;
    display: inline;
    vertical-align: text-top;
}
