.desc {
	margin: 0% 0%;
	padding: 1% 2% 1% 2%;
	text-align: left;
	border-radius: 5px;
	background-color: rgb(245, 245, 245);
}

.courseImage {
	background-image: linear-gradient(220deg, #2f6194, 50%, #0b3d70);
	min-height: 10rem;
	max-height: 15rem;
	padding-top: 30%;
	font-size: 1rem;
	border-radius: 8px;
}
