.footer {
  color: #fff;
  width: 100%;
  min-height: 10px;
  position: relative;
  background-color: #0b3d70;
  background-image: linear-gradient(#2f6194 40%, #0b3d70);
  left: 0;
  bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sectionWrapper {
  padding: 20px;
  min-width: 60%;
}
.container > .sectionWrapper > .links {
  justify-content: space-around;
  text-align: left;
}
.links {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.item {
  text-align: center;
  color: #fff;
  padding: 5px;
  margin: 1px;
  text-decoration: none;
  font-size: small;
}

.item:hover {
  background-color: #337ab7;
  border-radius: 5%;
}
